/* 
### COPYRIGHT XLASH 2014 ###

### Tous droits réservés ###
### Auteur : Kida Jean-Sébastien ###
### Contact : js.kida@gmail.com ###

    Created on : 19 août 2014, 17:21:21

*/


/* tab FF */
pre {-moz-tab-size: 16;}

/* bg */
#bg {
background:url(bg.png) repeat repeat;
}
#bgann {
background:url(ann.png) repeat repeat;
}

/* annonces */
#ann { 
background:url(ann.png) repeat repeat;
font-family: "Trebuchet MS", sans-serif;
text-align: left;
font-size: 14px;
}


/* MENU */
#menu-bar {
  width: 28%;
  margin: 0px 0px 0px 0px;
  padding: 6px 6px 4px 6px;
  height: 45px;
  line-height: 100%;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  box-shadow: 2px 2px 3px #666666;
  -webkit-box-shadow: 2px 2px 3px #666666;
  -moz-box-shadow: 2px 2px 3px #666666;
  background: #227B5B;
  background: linear-gradient(top,  #73b504,  #c3d900);
  background: -ms-linear-gradient(top,  #73b504,  #c3d900);
  background: -webkit-gradient(linear, left top, left bottom, from(#73b504), to(#c3d900));
  background: -moz-linear-gradient(top,  #73b504,  #c3d900);
  border: solid 1px #696969;
  position:relative;
  z-index:999;
}
#menu-bar li {
  margin: 0px 25px 0px 25px;
  padding: 0px 0px 0px 0px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: normal;
  font-family: 'trebuchet ms';
  font-style: normal;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  margin-bottom: 0px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  text-shadow: 2px 2px 13px #FFFFFF;
}
#menu-bar li ul li a {
  margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
  background: #0399D4;
  background: linear-gradient(top,  #FFFFFF,  #ffff66);
  background: -ms-linear-gradient(top,  #FFFFFF,  #ffff66);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#9CB85C));
  background: -moz-linear-gradient(top,  #FFFFFF,  #ffff66);
  color: #44343F;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 2px 2px 25px #FFFFFF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background: #0399D4 !important;
  background: linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -ms-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) !important;
  background: -moz-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  color: #FFFFFF !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul {
  background: #FFFFFF;
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 40px;
  left: 0;
  border: solid 1px #B4B4B4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#3B3B3B !important;
  font-size:12px;
  font-style:normal;
  font-family:verdana;
  font-weight: normal;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}

/* blockquote */
blockquote {
-moz-column-count: 3;
-moz-column-gap: 100px;
-webkit-column-count: 3;
-webkit-column-gap: 100px;
column-count: 3;
column-gap: 100px;
-webkit-border-radius: 8px 8px 8px 8px;
border-radius: 8px 8px 8px 8px;
-webkit-box-shadow:inset 1500px 2500px 20px 10px #f5f4ee;
box-shadow:inset 1500px 2500px 20px 10px #f5f4ee;
}

footer {
background:url(ann.png) repeat repeat;
border-bottom: 2px;
}

#bp {
    background:url(ann.png) repeat repeat;
}


#content {
    background:url(bg.png) repeat repeat;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html{
  background:url(ann.png) repeat repeat;
  position: absolute;
  margin-left: 9px;
  width: 99%;
  height: 100%;
}

.loading-container {
  width: 256px;
  height: 256px;
  position: relative;
  top: 15%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.loading {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 15%;
  left: 36%;
  transform: rotate(45deg);  
}

.loading div {
  width: 32px;
  height: 32px;
  position: absolute;
}

.l1 div, .l2 div, .l3 div, .l4 div {
  width: 100%;
  height: 100%;
  background-color: #3498db;
}

.l1 { transform: translate(0,0); }
.l2 { transform: translate(0,32px); }
.l3 { transform: translate(32px,0px); }
.l4 { transform: translate(32px,32px); }

@keyframes rot1 {
  0%{ transform: rotate(0deg); }
  40%{ transform: rotate(0deg); }
  50%{ transform: rotate(0deg); }
  60%{ transform: rotate(90deg); }
  100%{ transform: rotate(90deg); }
}

@keyframes rot2 {
  0%{ transform: rotate(0deg); }
  40%{ transform: rotate(0deg); }
  50%{ transform: rotate(0deg); }
  60%{ transform: rotate(-90deg); }
  100%{ transform: rotate(-90deg); }
}

@keyframes rot3 {
  0%{ transform: rotate(45deg); }
  35%{ transform: rotate(45deg); }
  65%{ transform: rotate(405deg); }
  100%{ transform: rotate(405deg); }
}

@keyframes l1-rise {
  0%{ transform: translate(0px,0px); }
  30%{ transform: translate(-8px, -8px); }
  70%{ transform: translate(-8px, -8px); }
  100%{ transform: translate(0px, 0px); }
}

@keyframes l2-rise {
  0%{ transform: translate(0,32px); }
  30%{ transform: translate(-8px, 40px); }
  70%{ transform: translate(-8px, 40px); }
  100%{ transform: translate(0,32px); }
}

@keyframes l3-rise {
  0%{ transform: translate(32px, 0px); }
  30%{ transform: translate(40px, -8px); }
  70%{ transform: translate(40px, -8px); }
  100%{ transform: translate(32px, 0px); }
}

@keyframes l4-rise {
  0%{ transform: translate(32px,32px); }
  30%{ transform: translate(40px, 40px); }
  70%{ transform: translate(40px, 40px); }
  100%{ transform: translate(32px,32px); }
}

@keyframes color {
  0%{ background-color: #3498db; }
  50%{ background-color: #2980b9; }
  100%{ background-color: #3498db; }
}

.l1 { animation: l1-rise 3s ease 0s infinite; }
.l2 { animation: l2-rise 3s ease 0s infinite; }
.l3 { animation: l3-rise 3s ease 0s infinite; }
.l4 { animation: l4-rise 3s ease 0s infinite; }

.l1 div, .l4 div { animation: rot1 3s ease 0s infinite, color 3s linear 0s infinite; }
.l2 div, .l3 div { animation: rot2 3s ease 0s infinite, color 3s linear 0s infinite; }

.spinner {
  margin: 10px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #c6d600;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}